{% extends 'base.html' %}

{% block content %}
    <h1>Guess the Number Game</h1>

    <form method="post">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.guess_number.label }} {{ form.guess_number(class="form-control") }}
            {% for error in form.guess_number.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
{% endblock %}
